<h1>Reviews#index</h1>
<h1>All reviews for @reviews.first.restaurant</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></li>
<% end %>
</ul>
<hr>
<%= link_to "Add a new restaurant", new_restaurant_path %>
